<nav class="navbar fixed-bottom footer">
  <a href="/home"><img class="nav-logo" src="/images/home.png" alt="home"><p>Home</p></a>
  <a href="/calendar"><img class="nav-logo" src="/images/calendar.png" alt="calendar"><p>Calendar</p></a>
  <a href="/chores"><img class="nav-logo" src="/images/chores.png" alt="chores"><p>Chores</p></a>
  <a href="/trade"><img class="nav-logo" src="/images/trade.png" alt="trade"><p>Trade</p></a>
</nav>
