<html>
<head>
	<title>Smirby</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1.0">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/smirby.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149438992-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-149438992-2');
	</script>

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NHXL49P');</script>
	<!-- End Google Tag Manager -->
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHXL49P"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	
  <header>
		<img id="myProfile" class="profile-icon" src="/images/profile.png" alt="profile">
		<h1>All Chores</h1>
			<!--<img class="settings" src="/images/settings.png" alt="settings">-->
	</header>

	<div class="container chore-container">

		<hr>
		<button type="button" name="button" id="addChoreButton">+ Add Chore</button>

		<!-- Modal -->
		<div class="modal fade" id="addChore" tabindex="-1" role="dialog" aria-labelledby="completeChore" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
						<h2>Add Chore</h2>
		        <button type="button" style="width: 15vw;" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body" style="text-align:left;">
				    <form name="choreForm" onsubmit="return false">
							<label for="name">Chore Name: </label><input id="choreName" type="text" name="name" required> <br>

							<label for="icon">Choose an icon: </label><br>
								<input type="radio" name="icon" value="/images/trash.svg"><img class="profile-icon" src="/images/trash.svg" alt="trash">
								<input type="radio" name="icon" value="/images/clean.svg"><img class="profile-icon" src="/images/clean.svg" alt="clean">
								<input type="radio" name="icon" value="/images/vacuum.svg"><img class="profile-icon" src="/images/vacuum.svg" alt="vacuum">

				      <label for="frequency">How often should this chore be done? Every...</label><br>
								<input id="sun" type="checkbox" name="day" value="Sun"><label for="sun">Sunday</label><br>
								<input id="mon" type="checkbox" name="day" value="Mon"><label for="mon">Monday</label><br>
								<input id="tue" type="checkbox" name="day" value="Tue"><label for="tue">Tuesday</label><br>
								<input id="wed" type="checkbox" name="day" value="Wed"><label for="wed">Wednesday</label><br>
								<input id="thu" type="checkbox" name="day" value="Thu"><label for="thu">Thursday</label><br>
								<input id="fri" type="checkbox" name="day" value="Fri"><label for="fri">Friday</label><br>
								<input id="sat" type="checkbox" name="day" value="Sat"><label for="sat">Saturday</label><br>
							<label for="assign">Who is responsible for this chore?</label><br>
								<input id="a" type="checkbox" name="roomie" value="A"><label for="a">Lisa</label><br>
								<input id="b" type="checkbox" name="roomie" value="B"><label for="b">Maggie</label><br>
								<input id="c" type="checkbox" name="roomie" value="C"><label for="c">Sara</label><br>
								<input id="d" type="checkbox" name="roomie" value="D"><label for="d">Emily</label><br>

								<div class="modal-footer" style="justify-content: space-between;">
									<input type="cancel" name="cancel" value="Cancel" class="btn btn-secondary" style="width: 47%;" id="cancel">
						      <input type="submit" name="add" value="Add" class="btn btn-primary" style="width: 47%;" id="add">
					     	</div>
				    </form>
		      </div>
		    </div>
		  </div>
		</div>

		{{#each chores}}
		<div class="chore">
			<div class="chore-card-2">
				<img class='removeChore' src="/images/close.svg" alt="close" width="20">
				<img class="profile-icon" src="{{iconURL}}" alt="clean">
				<div id="{{id}}">
					<p><strong>{{name}}</strong></p>
					<table class="table table-borderless" style="margin: 0 0 0 0.5rem;">
						<tbody>
							<tr>
								<td scope="row"><span>S</span></td>
								<td><span class="">M</span></td>
								<td><span class="">T</span></td>
								<td><span class="">W</span></td>
								<td><span class="">T</span></td>
								<td><span class="">F</span></td>
								<td><span>S</span></td>
							</tr>
						</tbody>
					</table>
					<p class="assigned">Assigned to:
						<img class="profile-chores" src="/images/profile.png" alt="profile">
						<img class="profile-chores" src="/images/profile.png" alt="profile">
						<img class="profile-chores" src="/images/profile.png" alt="profile">
						<img class="profile-chores" src="/images/profile.png" alt="profile">
					</p>
				</div>
			</div>
			<hr>
		</div>
		{{/each}}

		<div class="newChore"></div>
	</div>

	{{> nav}}

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/choresAlt.js"></script>
	<script src="/js/smirby.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
