<html>
<head>
	<title>Smirby</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1.0">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/smirby.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149438992-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-149438992-2', { 'optimize_id': 'GTM-T4LW53D'});
	</script>
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHXL49P"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

  <header>
		<img id="myProfile" class="profile-icon" src="/images/profile1.png" alt="profile">
		<h1>All Chores</h1>
			<!--<img class="settings" src="/images/settings.png" alt="settings">-->
	</header>

	<div class="container chore-container">

		<hr>
		<button type="button" name="button" id="addChoreButton">Add New Chore</button>

		<!-- Modal -->
		<div class="modal fade" id="addChore" tabindex="-1" role="dialog" aria-labelledby="completeChore" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
						<h2 class="modal-title">ADD CHORE</h2>
		        <button type="button" style="width: 15vw;" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body" style="text-align:left; padding-bottom:0;">
				    <form id="choreForm" name="choreForm" onsubmit="return false">
							<p>Select a chore:</p>
							<select id="chore">
							  <option value="Take out the trash">Take out the trash</option>
							  <option value="Vacuum the living room">Vacuum the living room</option>
							  <option value="Clean the kitchen">Clean the kitchen</option>
							  <option value="Clean the bathroom">Clean the bathroom</option>
								<option value="Clean the bathroom">Wipe the counters</option>
								<option value="Clean the bathroom">Wipe the dining table</option>
							</select><br><br>

					<!--<p>Chore Name: </p>
							<input id="choreName" type="text" name="name" required> <br><br>

							<p>Choose an icon: </p>
							<div style="display:flex; justify-content: space-evenly; align-items:center; margin-bottom: 0.5rem;">
								<input type="radio" id="icon1" name="icon" value="/images/trash.svg"><label for="icon1"><img class="profile-icon" src="/images/trash.svg" alt="trash"></label>
								<input type="radio" id="icon2" name="icon" value="/images/clean.svg"><label for="icon2"><img class="profile-icon" src="/images/clean.svg" alt="clean"></label>
								<input type="radio" id="icon3" name="icon" value="/images/vacuum.svg"><label for="icon3"><img class="profile-icon" src="/images/vacuum.svg" alt="vacuum"></label>
							</div>

						-->
							<p>Complete on: <br><em style="font-size:small;">Click to select days.</em></p><br>
							<table class="table table-borderless table-sm">
								<tbody>
									<tr class="freq">
										<td scope="col"><input id="sun" type="checkbox" name="day" value="Sun"><label for="sun">Sun</label></td>
										<td scope="col"><input id="mon" type="checkbox" name="day" value="Mon"><label for="mon">Mon</label></td>
										<td scope="col"><input id="tue" type="checkbox" name="day" value="Tue"><label for="tue">Tue</label></td>
										<td scope="col"><input id="wed" type="checkbox" name="day" value="Wed"><label for="wed">Wed</label></td>
										<td scope="col"><input id="thu" type="checkbox" name="day" value="Thu"><label for="thu">Thu</label></td>
										<td scope="col"><input id="fri" type="checkbox" name="day" value="Fri"><label for="fri">Fri</label></td>
										<td scope="col"><input id="sat" type="checkbox" name="day" value="Sat"><label for="sat">Sat</label></td>
									</tr>
								</tbody>
							</table>

							<p>Assign to: <br><em style="font-size:small;">Click to select roommates.</em></p><br>
							<div style="display:flex; justify-content: space-evenly; align-items:center; margin-bottom: 0.5rem;">
								<input id="a" type="checkbox" name="roomie" value="A"><label for="a"><img class="profile-icon" src="/images/profile1.png" alt="profile"><br>Lisa</label>
								<input id="b" type="checkbox" name="roomie" value="B"><label for="b"><img class="profile-icon" src="/images/profile2.png" alt="profile"><br>Maggie</label>
								<input id="c" type="checkbox" name="roomie" value="C"><label for="c"><img class="profile-icon" src="/images/profile3.png" alt="profile"><br>Sara</label>
								<input id="d" type="checkbox" name="roomie" value="D"><label for="d"><img class="profile-icon" src="/images/profile4.png" alt="profile"><br>Emily</label>
							</div>
							<div class="modal-footer" style="justify-content: center; padding-bottom:0;">
					      <input type="submit" name="add" value="Add" class="btn btn-primary" style="width: 47%;" id="add">
				     	</div>
				    </form>
		      </div>
		    </div>
		  </div>
		</div>

		{{#each chores}}
		<div class="chore">
			<div class="chore-card-2">
				<img class='removeChore' src="/images/close.svg" alt="close" width="20">
				<img class="profile-icon" src="{{iconURL}}" alt="clean">
				<div id="{{id}}">
					<p><strong>{{name}}</strong></p>
					<table class="table table-borderless" style="margin: 0 0 0 0.5rem;">
						<tbody>
							<tr>
								<td scope="row"><span>S</span></td>
								<td><span class="">M</span></td>
								<td><span class="">T</span></td>
								<td><span class="">W</span></td>
								<td><span class="">T</span></td>
								<td><span class="">F</span></td>
								<td><span>S</span></td>
							</tr>
						</tbody>
					</table>
					<p class="assigned">Assigned to:
						<img class="profile-chores" src="/images/profile1.png" alt="profile">
						<img class="profile-chores" src="/images/profile2.png" alt="profile">
						<img class="profile-chores" src="/images/profile3.png" alt="profile">
						<img class="profile-chores" src="/images/profile4.png" alt="profile">
					</p>
				</div>
			</div>
			<hr>
		</div>
		{{/each}}

		<div class="newChore"></div>
	</div>

	{{> nav}}

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/chores.js"></script>
	<script type="text/javascript" src="/js/smirby.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
