<html>
<head>
	<title>Smirby</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1.0">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/smirby.css">
</head>
<body>

  <header>
		<img id="myProfile" class="profile-icon" src="/images/profile1.png" alt="profile">
		<img id="back" class="profile-icon" src="/images/back.png" alt="back">
		<h1>TRADE</h1>
		<!--<img class="settings" src="/images/settings.png" alt="settings">-->
		<hr>
	</header>


	<div id="sendview" class="container-fluid" style="display:block;">
		<button class="send" type="button" name="button">Send Trade Request</button>
		<button id="view" type="button" name="button">View Trade Requests</button>
	</div>


	<div class="container send-container" style="display:none;">
		<p><strong>My Chores</strong></p>
		<p>Select the chores you would like to trade with someone else!</p>
    {{#each chores}}
			{{#if_eq assigned 'A'}}
		  	<div class="trade-card">
					<img class="profile-icon" src="/images/profile1.png" alt="clean">
					<div id="{{id}}">
						<p><strong>{{name}}</strong></p>
		      </div>
		    </div>
			{{/if_eq}}
		{{/each}}
		<div style="text-align: center; margin-top:1rem;">
			<button class="options" type="button" name="button">Nevermind</button>
			<button class="options selected" type="button" name="button">Trade</button>
		</div>
	</div>

	<div class="container trade-container" style="display:none;">
		<p>Select the following trade requests to decline or accept them.</p>
    {{#each chores}}
  		<div class="trade-card">
				<img class="profile-icon" src="/images/profile2.png" alt="clean">
				<div id="{{id}}">
  				<p><strong>{{name}}</strong></p>
        </div>
    </div>
		{{/each}}
		<div style="margin-top:1rem;">
			<button class="options" id="decline" type="button" name="button">Decline</button>
			<button class="options selected" type="button" name="button">Accept</button>
		</div>
	</div>

	{{> nav}}

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/trade.js"></script>
	<script type="text/javascript" src="/js/smirby.js"></script>
</body>
</html>
