header {
  text-align: center;
  padding-top: 0.5rem;
}

body {
  margin-bottom: 69px;
}

body.login {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.login button {
  border: 0;
}
header > h1 {
  padding: 1rem 6rem 0 6rem;
}

h1 {
  font-size: large;
}

p {
  margin:0;
}

#greeting {
  padding: 1rem 4rem 0 4rem !important;
}


h2 {
  font-size: medium;
}

h3 {
  font-size: medium;
  text-align: left;
}

section {
  margin-top: 1rem;
}

#month {
  text-align: center;
  font-weight: bold;
}

#myProfile {
  float: left;
  margin-left: 1rem;
}

.table {
  text-align: center;
}

.profile-icon {
  width: 11vw;
}

.settings {
  width: 10vw;
  float: right;
}

.myChores {
  background-color: #77B5AF;
  text-align: center;
  padding: 1rem;
}

.myChores > h3 {
  color: white;
}

.myChores > p {
  color: white;
}

.chore-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: white;
  height: 75px;
  width: 95%;
  margin: auto;
  margin-top: 0.5rem;
  text-align: left;
  padding: 0.5rem;
}

.chore-card-2 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 95%;
  margin: auto;
  margin-top: 0.5rem;
  text-align: left;
  padding: 0 0.5rem 0 0.5rem;
}

hr.divider {
  margin:0.5rem;
}

.chore-card p, .chore-card-2 p {
  padding-left: 1rem;
  flex-grow: 1;
  margin:0;
}

.chore-icon {
  background: #E5E5E5;
  border-radius: 50%;
  width: 12vw;
  padding: 0.4rem;
}

.today {
  border: 1px solid #39495C;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  display: inline-block;
  line-height: 1.6em;
  width: 1.6em;
}

#calendarRow span {
  display: inline-block;
  line-height: 1.6em;
  width: 1.6em;
}

.active-date {
  background: #77B5AF;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  display: inline-block;
  line-height: 1.6em;
  width: 1.6em;
  color:white;

}

.footer {
  background-color: #39495C;
  box-shadow: 0px 0px 20px #d2d2d2;
  padding: 1rem;
  color: white;
}

.footer img {
  filter: invert(1);
}

.navbar a {
  text-align:center;
  text-decoration:none;
  color: white;
}

.navbar p {
  margin: 0;
}

.active-icon {
  opacity: 1 !important;
  filter:grayscale(0%) !important;
}

.profile-chores {
  width:5vw;
  opacity: 0.5;
  margin-left: 0.5rem;
  filter:grayscale(100%);
}

.assigned {
  display: inline-block;
}

.chore-container {
  text-align: center;
}

.chore-container .chore-card-2 {
  justify-content: normal !important;
}

.trade-container {
  text-align: center;
}

.trade-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F1F1F1;
  height: 90px;
  width: 95%;
  margin: auto;
  margin-top: 0.5rem;
  text-align: left;
  padding: 0 1rem 0 1rem;
  border-radius: 5px;
  border: 2px solid #F1F1F1;
}

.trade-container .trade-card {
  justify-content: normal !important;
}


.trade-card p {
  padding-left: 1rem;
  flex-grow: 1;
  margin:0;
}

.big-icon {
  width: 55vw;
  margin: 70px 0 40px 0;
}

#reminder {
  text-align: center;
  font-weight: 500;
  font-size: 27px;
  line-height: 32px;
  width: 60vw;
  margin: auto;
}

#deadline{
  width: 80vw;
  text-align: center;
  font-size: 18px;
  margin: auto;
  font-style: italic;
  font-weight: 500;
}

#reason {
  width: 80vw;
  text-align: center;
  font-size: 18px;
  margin: auto;
  font-weight: 650;
}

.options {
  display: inline-block;
  width: 30vw;
  height: 34px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
  border-radius: 5px;
  margin: auto;
}

#addChoreButton {
  width: 50vw;
  height: 34px;
  text-align: center;
  background: #E18A77;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
  border-radius: 5px;
  margin: auto;
  border:0;
  color:white;
}

#add {
  background-color:#E18A77;
  border: none;
}

.selected {
  background:#77B5AF !important;
  color: white;
  border:0;
}

#trade-buttons {
  margin: auto;
  margin: 1rem 1rem;
}

.signUp{
  background:#77B5AF !important;
  font-weight: 700;
  color: white;
}

button {
  border-radius: 5px;
  width: 90vw;
  margin-bottom:0.5rem;
  background:white;
}

.modal-title {
  text-align: center;
  font-weight: bold;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 80%;
  margin: auto;
  margin-top: 0.5rem;
  text-align: left;
  padding: 0 1rem 0 1rem;
  border-radius: 5px;
  border: 1.5px solid white;
}

.login-box p {
  padding-left: 0.5rem;
  flex-grow: 1;
  margin:0;
  font-style: italic;
}

.removeChore {
  position: absolute;
  right: 0.5rem;
  top: 0;
}
tr.freq td {
  line-height: 15px;
}

#choreForm input[type="checkbox"], #choreForm input[type="radio"] {
  display:none;
}

#choreForm label {
  text-align:center;
}

#choreForm p {
  font-weight: bold;
}

tr.freq label {
  padding: 0.25rem;
  margin:0;
}

#choreForm input[type="checkbox"]:checked+label {
  background-color: #77B5AF;
  border-radius: 5px;
  color: white;
}

#choreForm img {
  margin:0.5rem;
}

#choreForm input[type="radio"]:checked+label {
  background-color: #E7E7E7;
  border-radius: 50%;
}

#choreForm input[type="text"] {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}

.homebody {
  text-align: center;
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align:center;
}

#sendview button {
  height: 34px;
  text-align: center;
  border-radius: 5px;
  margin: auto;
}

#sendview button:nth-child(1) {
  background: #E18A77;
  color:white;
  border:0;
  margin-bottom: 1rem;
}

#sendview button:nth-child(2) {
  background: #77B5AF;
  color:white;
  border:0;
  margin-bottom: 1rem;
}

header h1 {
  font-weight: 700;
}

header img:nth-child(2) {
  float: left;
  margin-left: 1rem;
  display: none;
}

header {
  background-color: #39495C;
  color:white;
}
