header {
  text-align: center;
  padding-top: 0.5rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

header > h1 {
  padding: 1rem 6rem 0 6rem;
}

h1 {
  font-size: large;
}

#greeting {
  padding: 1rem 4rem 0 4rem !important;
}


h2 {
  font-size: medium;
}

h3 {
  font-size: medium;
  text-align: left;
}

section {
  margin-top: 1rem;
}

#month {
  text-align: center;
  font-weight: bold;
}

#myProfile {
  float: left;
}

.table {
  text-align: center;
}

.profile-icon {
  width: 11vw;
}

.settings {
  width: 10vw;
  float: right;
}

.myChores {
  background-color: #F2F2F2;
  text-align: center;
  padding: 1rem;
}

.chore-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: white;
  height: 75px;
  width: 95%;
  margin: auto;
  margin-top: 0.5rem;
  text-align: left;
  padding: 0.5rem;
}

.chore-card-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 95%;
  margin: auto;
  margin-top: 0.5rem;
  text-align: left;
  padding: 0 0.5rem 0 0.5rem;
}

hr.divider {
  margin:0.5rem;
}

.chore-card p, .chore-card-2 p {
  padding-left: 1rem;
  flex-grow: 1;
  margin:0;
}

.chore-icon {
  background: #E5E5E5;
  border-radius: 50%;
  width: 12vw;
  padding: 0.4rem;
}

.today {
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}

.active-date {
  background: #EDEDED;
  border-radius: 50%;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}

.footer {
  background-color: white;
  box-shadow: 0px 0px 20px #d2d2d2;
  padding: 1rem;
}

.footer img {
  opacity: 0.3;
}

.active-icon {
  opacity: 1 !important;
}

.profile-chores {
  width:5vw;
  opacity: 0.5;
  margin-left: 0.5rem;
}

.assigned {
  display: inline-block;
}

.chore-container {
  text-align: center;
}

.chore-container .chore-card-2 {
  justify-content: normal !important;
}

.trade-container {
  text.align: center;
}

.trade-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F1F1F1;
  height: 90px;
  width: 95%;
  margin: auto;
  margin-top: 0.5rem;
  text-align: left;
  padding: 0 1rem 0 1rem;
  border-radius: 5px;
}

.trade-container .trade-card {
  justify-content: normal !important;
}


.trade-card p {
  padding-left: 1rem;
  flex-grow: 1;
  margin:0;
}

.reminder-icon {
  height: 186.9px;
  width: 186.9px;
  margin-top: 70px;
  margin-left: 97px;
  margin-right: 97px;
  margin-bottom: 40px;
}

#reminder {
  text-align: center;
  font-weight: 500;
  font-size: 27px;
  line-height: 32px;
  width: 60vw;
  margin: auto;
}

#deadline{
  padding-top: 75px;
  width: 80vw;
  text-align: center;
  font-size: 18px;
  margin: auto;
  font-style: italic;
  font-weight: 500;
}

#reason {
  width: 80vw;
  text-align: center;
  font-size: 18px;
  margin: auto;
  font-weight: 650;
}

.options {
  display: inline-block;
  width: 30vw;
  height: 34px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

#selected {
  border: 2px solid #04B315 !important;
}

#trade-buttons {
  margin: auto;
}

button {
  border-radius: 5px;
  width: 90vw;
  margin:0.5rem;
  background:white;
}
